#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;
}


#home{
  height: 276px;
  padding: 3px 60px;
}
#home::before{
    height: 461px;
}
#home p{
    font-size: 13px;
}

#services {
    flex-direction: column;
}



#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 64px;
    padding: 6px ;
    height: auto;
}

#contact-box form{
  width: 80%;
}

.h-primary{
    font-size: 24px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}